services:
  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root_pw_temp
      MYSQL_DATABASE: baylis_db
      MYSQL_USER: baylis_user
      MYSQL_PASSWORD: baylis_pass
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data:
